<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name=" Chrome_test_ui">
        <parameter name="browserType" value="Chrome"/>

        <classes>
            <class name="UiTest.testAddToChart">
                <methods>
                    <include name="Add_site_Happy_Senario2"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name=" Edge_test_ui">
        <parameter name="browserType" value="Edge"/>

        <classes>
            <class name="UiTest.testAddToChart">
                <methods>
                    <include name="Add_site_Happy_Senario2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>